.app {
  display: flex;
  justify-content: center;
}
.app .container {
  width: 1024px;
}
.app .container .link,
.app .container .links {
  text-decoration: none;
  color: inherit;
}
.app .container .navbar {
  display: flex;
  background-color: red;
}
.app .container .navbar .logoSection {
  flex: 1;
}
.app .container .navbar .logoSection .links {
  gap: 3px;
}
.app .container .navbar .logoSection .links h3 {
  color: white;
  font-size: 32;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.app .container .navbar .logoSection .links .logo {
  background-color: red;
}
.app .container .navbar .pathNames {
  flex: 3;
}
